<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EMR | DASHBOARD</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/bundle/styleMaster")
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />

</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <!-- <span class="logo-mini"><b>A</b>LT</span> -->
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">EMR RSDK</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <!-- <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> -->
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">username</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <!--<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">-->
                                    <p>
                                        ROLE : HELPDESK
                                        <!-- <small>Member since Nov. 2012</small> -->
                                    </p>
                                </li>
                                
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <!--<a href="#" class="btn btn-default btn-flat">Profile</a>-->
                                    </div>
                                    <div class="pull-right">
                                        @Html.ActionLink("Sign out", "Logout", "Login", new { area = "Home" }, new { @class = "btn btn-default btn-flat" })
                                        @*<a href="#" class="btn btn-default btn-flat">Sign out</a>*@
                                    </div>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <!--<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> -->
                    </div>
                    <div class="pull-left info">
                        <!--<p>Alexander Pierce</p>-->
                        <!-- Status -->
                        <!--<a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="header">EMR MENU</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li class="active"><a href="#"><i class="icon-i-medical-records fm-default"></i> <span>Assesment Awal</span></a></li>
                    <li><a href="#"><i class="icon-i-pharmacy fm-default"></i> <span>Resep</span></a></li>
                    <!--<li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li> -->
                    <li class="treeview">
                        <a href="#"><i class="icon-i-medical-library fm-default"></i> <span>Order Penunjang</span> <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="icon-i-radiology fm-default text-aqua"></i> Order Radiologi</a></li>
                            <li><a href="#"><i class="icon-i-laboratory fm-default text-aqua"></i> Order Laboratorium </i></a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->


            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @ViewBag.TitleMaster
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Admin</a></li>
                    <li class="active">Main Dashboard</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Your Page Content Here -->

                @RenderBody()

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                ELECTRONIC MEDICAL RECORD SISTEM RSDK 2016
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">SIRS RSDK</a>.</strong>
        </footer>

        
    </div>

    @Scripts.Render("~/bundle/scriptMaster")
    <script src="~/Content/plugins/select2/select2.min.js"></script>
</body>
</html>
